/* Add CSS styles to customize the appearance of your calendar */

body{
  background: linear-gradient(to right, #667eea, #764ba2);
}


.container {
  width: 800px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.header {
  /* background: linear-gradient(to right, #667eea, #764ba2); */
  color: #fff;
  padding: 20px;
  text-align: center;
}

.calendar {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  padding: 10px;
}

.month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.prev,
.next {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 18px;
  color: #764ba2;
}

.date {
  font-size: 20px;
  font-weight: bold;
}

.weekdays {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.day {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  background: linear-gradient(to right, #f9f9f9, #e9e9e9);
  color: #333;
}

.event {
  background-color: #f2f2f2;
  margin-bottom: 5px;
  padding: 2px;
}
